:root {
  --primary-color: #110c00;
  --secondary-color: #fbaf00;
  --font-family: "Sora", sans-serif;
}

.test {
  background-color: #1a1405 !important;
  border: transparent;
  border-radius: 4px;
  color: var(--secondary-color);
}
.test:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}

.search ::placeholder {
  color: var(--secondary-color) !important;
}

.input-group {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 50% !important;
  height: 50px !important;
}

.search {
  --bs-btn-active-border-color: var(--secondary-color);
  /* text-align: center; */
}

@media (max-width: 700px) {
  .input-group {
    width: 60% !important;
    height: 50px !important;
  }
}
