 :root {
  --primary-color: #110c00;
  --secondary-color: #fbaf00;
  --font-family: "Sora", sans-serif;
}
 
 
 
 
 .test {
        background-color: #1A1405 !important;
        border: transparent;
        border-radius: 4px;
        color: var(--secondary-color);
      }
      .test:focus {
        outline: none !important;
        border: none;
        box-shadow: none;
      }

      ::placeholder {
        color: var(--secondary-color) !important;
      }