:root {
  --primary-color: #110c00;
  --secondary-color: #fbaf00;
  --font-family: "Sora", sans-serif;
}

body {
  background-color: var(--secondary-color);
}

.log-btn {
  background-color: var(--primary-color);
}

.log-link {
  color: var(--secondary-color);
}

.log-link:hover {
  color: var(--secondary-color);
}



.login {
  background-color: var(--primary-color);
  width: 500px;
  min-width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 120px;
}
